<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750801974319-ibdbfll4de8oft5lfsrftjbjspobksd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750801974319-ibdbfll4de8oft5lfsrftjbjspobksd2</string>
	<key>API_KEY</key>
	<string>AIzaSyAmXWOJr1HxYjtjduOKmq-0yqb_JIGOo8U</string>
	<key>GCM_SENDER_ID</key>
	<string>750801974319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogpractice</string>
	<key>PROJECT_ID</key>
	<string>test-fa4db</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fa4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750801974319:ios:94fe66988c3f1b9583c2da</string>
</dict>
</plist>